.wrapper {
  position: relative;

  padding: 16px 0;
  color: rgba(22, 24, 35, 0.75);
  font-size: 14px;
  line-height: 20px;
  font-weight: 600;

  border-top: 1px solid rgba(22, 24, 35, 0.15);
}

.title {
  padding: 0 8px;
  margin-bottom: 8px;
  font-size: 14px;
  line-height: 20px;
}

.seeAll-btn {
  display: flex;
  flex-direction: row;
  -webkit-box-align: center;
  align-items: center;
  padding: 0px 8px;
  margin-top: 8px;
}

.all-user {
  font-weight: 600;
  font-size: 14px;
  color: var(--primary);
}
