.menu-list {
  width: 224px;
  justify-content: center;

  .menu-item {
    margin-left: 0;
  }
}

.menu-item {
  display: flex;
  justify-content: flex-start;

  font-family: var(--font-family);
  font-weight: 600;

  color: var(--black);
  width: 100%;
  font-size: 1.6rem;
  padding: 11px 16px;
  line-height: 1.8rem;
  border-radius: 0;

  background-color: var(--white);
  cursor: pointer;

  &.separate {
    border-top: 1px solid rgba(22, 24, 35, 0.14);
  }

  &:hover {
    background: rgba(22, 24, 35, 0.03);
  }
}

.menu-item:last-child {
  margin-bottom: 8px;
}

.menu-body {
  overflow-y: auto;
}

// Header
.header {
  margin-top: -8px;
  position: relative;
  flex-shrink: 0;
  height: 50px;
  width: 200px;
}

.back-btn {
  width: 50px;
  height: 100%;
  background-color: transparent;
  cursor: pointer;
}

.header-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
