.menu-list {
  width: 224px;
  justify-content: center;

  .menu-item {
    margin-left: 0;
  }
}

.menu-item {
  display: flex;
  justify-content: flex-start;

  font-family: ProximaNova, Arial, Tahoma, PingFangSC, sans-serif;
  font-weight: 600;

  color: var(--black);
  width: 100%;
  font-size: 1.6rem;
  padding: 11px 16px;
  line-height: 1.8rem;
  border-radius: 0;

  background-color: var(--white);
  cursor: pointer;

  &:hover {
    background: rgba(22, 24, 35, 0.03);
  }
}

.menu-item:last-child {
  margin-bottom: 8px;
}
