.wrapper {
  --search-wrapper-radius: 92px;
  --search-height: 46px;
  --search-top-spacer: 9px;
  --search-button-width: 52px;

  width: 100%;
  height: var(--default-layout-header-height);
  box-shadow: 0 1px 2px rgb(0 0 0 / 12%);
  display: flex;
  justify-content: space-around;
}

.inner {
  height: 100%;
  width: var(--default-layout-width);
  padding: 0 var(--default-layout-spacer);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
}

// Actions
.actions {
  display: flex;
  align-items: center;
}

.more-btn {
  padding: 8px;
  font-size: 2rem;
  margin-left: 28px;
  cursor: pointer;
  background-color: transparent;
}

// Menu

// User
.action-btn {
  padding: 4px;
  font-size: 2rem;
  cursor: pointer;
  background-color: transparent;

  + .action-btn {
    margin-left: 16px;
  }
}

.user-avatar {
  margin-left: 16px;
  width: 32px;
  height: 32px;
  cursor: pointer;
  border-radius: 50%;
}
